name: Fizzbuzz with GH Actions
on:
  workflow_dispatch:
    inputs:
      places: 
        description: "How many places of fizzbuzz"
        required: true
        default: "30"

jobs:
  generator:
    runs-on: ubuntu-latest
    outputs:
      message: ${{ steps.apply-buzz.outputs.message }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Generate number list
        id: generate-number-list
        run: node ./generate-number-list.js "${{ inputs.places }}"

      - name: Apply fizzbuzz
        id: apply-fizzbuzz
        run: node ./transform.js 15 "fizzbuzz" "${{ steps.generate-number-list.outputs.message }}"

      - name: Apply fizz
        id: apply-fizz
        run: node ./transform.js 3 "fizz" "${{ steps.apply-fizzbuzz.outputs.message }}"

      - name: Apply buzz
        id: apply-buzz
        run: node ./transform.js 5 "buzz" "${{ steps.apply-fizz.outputs.message }}"
  emitter:
    runs-on: ubuntu-latest
    needs: generator
    steps:
      - name: Output result
        run: |
          echo "Fizzbuzz to ${{inputs.places}} places:"
          echo "${{needs.generator.outputs.message}}"
